// 06/OBJECTS - BUTTONS

.o-btn {
  display: inline-block;
  padding: $rhythm / 2 $gutter * 2;
  vertical-align: middle;
  text-align: center;
  border: none;
  transition: all 300ms ease-in-out;

  &-a {
    background: black;
    color: white;

    &:hover {
      background: darken($brand-a, 10);
    }
  }
}
