// 02/TOOLS/MIXINS - GRID-FLEX

// Usage
// @include layout
// @include layout(48px)

@mixin grid-flex($marginLeft: $gutter) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$marginLeft;

  &_item {
    padding-left: $marginLeft;
  }
}

@mixin grid-flex-width($x, $y: 1) {
  flex-basis: (100% / $x) * $y;
}

@mixin push-flex($x, $y: 1) {
  margin-left: (100% / $x) * $y;
}

@mixin grid-flex-widths($namespace: "") {
  .l-grid_item-full#{$namespace} {
    flex-basis: 100%;
  }

  .l-grid_item-1#{$slash}2#{$namespace} {
    flex-basis: 50%;
  }

  .l-grid_item-1#{$slash}3#{$namespace} {
    flex-basis: 33.33%;
  }

  .l-grid_item-2#{$slash}3#{$namespace} {
    flex-basis: 66.66%;
  }

  .l-grid_item-1#{$slash}4#{$namespace} {
    flex-basis: 25%;
  }

  .l-grid_item-3#{$slash}4#{$namespace} {
    flex-basis: 75%;
  }
}
