// 03/BASE - NORMALISE

html {
  min-height: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  background-color: transparent;
}

small {
  font-size: 80%;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

button,
input,
select {
  font: inherit;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
