// MAIN - IMPORTS

@import "01-settings/_imports";

@if variable-exists(font-url) {
  @import url($font-url);
}

@import "02-tools/_imports";
@import "03-base/_imports";
@import "04-elements/_imports";
@import "05-layout/_imports";
@import "06-objects/_imports";
@import "07-components/_imports";
@import "08-utilities/_imports";

body {
  &:hover {
    background: red;
  }
}

.div {
  font-size: 20px;

  @include bp(10) {
    font-size: 30px;
  }
}

.divtwo {
  font-size: 30px;

  @include bp(10) {
    font-size: 40px;
  }
}

// CSS Organisation

// .selector {
//   //Positioning
//   position: absolute;
//   z-index: 10;
//   top: 0;
//   right: 0;
//
//   // Display & Box Model
//   display: inline-block;
//   overflow: hidden;
//   box-sizing: border-box;
//   width: 100px;
//   height: 100px;
//   padding: 10px;
//   border: 10px solid #333;
//   margin: 10px;
//
//   // Color
//   background: #000;
//   color: #fff
//
//   // Text
//   font-family: sans-serif;
//   font-size: 16px;
//   line-height: 1.4;
//   text-align: right;
//
//   //Other
//   cursor: pointer;
// }
